.cuadrado{
    /*Muesta un div de 50x50px de forma cicular, fondo rojo,
     display inline-block, margin alrededor de 5px*/
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 5px;
    background-color: red;

}

.esferizar{
    border-radius: 50px;
}

/*
Muestra una línea doble horizontal, tipo block (separadora). 
Formada por dos líneas separadas 4px, la superior de 1px de altura, 
la inferior de 3px, en color negro.
*/

.line{
    display: block;
    width: 100%;
    height: 1px;
    background-color: black;
    margin-bottom: 4px;
    borderwi
}
.thick-line{
    height: 3px;
}

.blue{
    background-color: blue;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}