<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>React - ejercicios</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="estilos.css">

    <script src="https://unpkg.com/react@15/dist/react.min.js"> </script>
    <script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>

    <script>
    let texto = "lala";   
    
    </script>
</head>

<body>
    <div id="root"></div>

    <script type="text/babel">

    class Main extends React.Component {
            render() {
                return (
                    <div>
                  <Titulo texto="Hola" />
                  <Separator/>
                  <Semaforo/>
                  <Separator/>
                  <Cuadrado/>
                  <Separator/>
                  <CirculoB talla="80px" margen="10px" fondo="blue"/>
                  <Separator/>
                  <CuadradoB talla="70px" margen="8px" grosor="5px" color="red"/>
                  <Separator/>
                  <Bug/>
                  <Capital name="barcelona" />

                  </div>
                );
            }
        }

    const Titulo= (props) => <h1>{props.texto}</h1>;
    function Circulo(props){ 
        let pClase = "cuadrado esferizar ";
        pClase+=props.scolor;
        return (<div className = {pClase}></div>);
    } 
    function CirculoB (props){
        return (<div className= "cuadrado esferizar" 
        style={{ height: props.talla,  width:props.talla,  backgroundColor: props.fondo }}></div>)
    }
    const Cuadrado = () => <div className = "cuadrado"> </div> 
    function CuadradoB(props){
        return (<div style = {{
            height: props.talla, 
            width: props.talla, 
            margin:  props.margen, 
            borderWidth: props.grosor,
            borderColor: props.color, 
            borderStyle: "solid",
            
        }}></div>);
    }
    function Bug(props){
        return (<i className="fas fa-spider" 
        style={{
            fontSize:"25px", 
            position:"fixed",
            top:"5",
            right:"5"
            
            }}></i>)
    }
    const Separator = () => (    
        <div>   
            <div className = "line"> </div>
            <div className = "line thick-line"></div>
        </div> )
    const Semaforo = () => (<div>
        <Circulo scolor="red"/>
        <Circulo scolor="blue"/>
        <Circulo scolor="green"/>
    </div>)

    function Capital(props){
        let name = props.name;       
        let firstLetter = name[0].toUpperCase();
        name = firstLetter + name.substring(1)
        
        return (
        <div>
        <p style= {{
            fontSize: "200px",
            margin:"0",
            border:"0",
            marginBlockStart: "0",
            padding:"0"
        }}>{firstLetter}</p> <p style = {{
            fontSize: "30px",
            margin:"0",
            border:"0",

            padding:"0"

        }}>{name}</p>
        </div>
        );
    }

/*
<Capital nom="barcelona" />
Mostrará la inicial de la palabra recibida en tamaño 200px y debajo la palabra completa en tamaño 30px.

*/
    ReactDOM.render( <Main  />, document.getElementById("root") );
    
</script>
</body>

</html>