body{
    background-color: slategray;
    padding: 100px;   
    
    
}
/*
p{
    border-style: dotted;
    border-width: 5px;
}*/
h1.titulo-principal{
    color: #6a4996;
    border: 2px blueviolet solid;
    padding: 5px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: rgb(32, 0, 61);
    text-align: center;
}

h1.titulo-principal:hover{
    color: aliceblue;
    cursor: crosshair
}

ul.lista-ejercicios li{
    color: rgb(102, 0, 153);
    font-size: 1.5em;
}

span.destacado{
    border: 1px rgb(132, 0, 255) dotted;
}

span.negrita{
    font-weight:bold;
}

span.italica{
    font-style: italic;
}

span.italica-negrita{
    font-weight:bold;
    font-style: italic;    
}

span.subrayado{
    text-decoration-line: underline;
}

span.subrayado-italica{
    font-style: italic;    
    text-decoration-line: underline;
}

.avatar_format{
    border-radius: 50%;
}

h1.fnt-red {
    color: red;
}
.fnt-blue {
    color: blue;
}
#nombre_alumno {
    color: red;
    text-decoration: underline;
}

.titulo{
    color: mediumaquamarine;
    font-size: 30px;
    font-style: italic;
}

.texto{
    color: blue;
    font-size: 15px;
}

.destacado{
    font-weight:bold;
    font-style: italic; 
}

div.contenedor img{
    margin: 20px;
    border: 1px solid blue;
    padding: 10px;
    background-color: aqua;

}

div.example div{
    
    height: 80px;
    width: 80px;
    background-color: red;
    border-radius: 40px;
    margin: 5px;
    display: inline-block;
    /* display: none;*/ 
}
div.boxes div{
    height: 80px;
    width: 80px;
    background-color: blue;
    margin: 5px;
    display: inline-block
}
li.tabbed{
    /*margin: 20px;*/
    margin-left: 10px;
}
/*Ejercicio 3B*/
div.body{
    background-color: bisque;
}
/*Fin Ejercicio 3B*/


/*Ejercicio 4*/
div.elements>div{
    border: 5px black double;
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    width: 30%;
    padding: 10px;
    padding-bottom: 50px;
    position: relative;
}

div.single-element>img{
    width: 90%;
}
div.buttons div{
    width: 40%;
    height: 30px;
    border: 2px black solid;
    display: inline-block;
}
div.buttons img{
    margin: 5px;
}
div.over-photo{
    position: absolute;
    top:20px;
    right: 40px;
}
/*
    div.button_photo img{
        margin-top: 5px;
        width: 10px;
        background-color: blue;
    }
div.elements img{
    width: 80%;
}
        */
p.price{
    text-align: left;
    font-weight:bold;
    font-size: 1.3em;
    margin-left: 15px;
}
p.name{
    text-align: left;
    font-weight:bold;
    margin-left: 15px;
}
p.description{
    text-align: left;
    font-size: 0.8em;
    margin-left: 15px;
}
/*Fin Ejercicio 4*/


/*Ejercicio 4B*/
div.franja_superior{
    text-align: center;
    color: white;
    font-size: 1.5rem;
    line-height: 40px;
    /*padding-top: 5px;*/
    width: 100%;
    height: 40px;
    background-color: blue;
    position: fixed;
    top: 0px;
    left:0px;
    z-index: 100;
}
div.franja_inferior{
    text-align: center;
    color: white;
    font-size: 1.5rem;
    line-height:40px;
    width: 100%;
    height: 40px;
    background-color: red;
    position: fixed;
    bottom: 0px;
    left:0px;
    z-index: 100;
}
div.elemento_cuadro{
    background-color:chocolate;
    height: 400px;
    width: 50%;
    margin: 25%;
    margin-top: 5%;
    text-align: center;       
    position: relative; 
}
div.elemento_cuadro p{
    /*padding-top: 75px;*/
    font-size: 80px;
    position: relative;
    top: 20%;
}
div.elemento_cuadro div{
    width: 120px;
    height: 120px;
    background-color: white;
    border-radius: 75px;
    border: 4px chocolate solid;    
}
div.top_left{
    position: absolute;
    top: -40px;
    left: -40px;
}
div.top_right{
    position: absolute;
    top: -40px;
    right: -40px;
}
div.bottom_left{
    position: absolute;
    bottom: -40px;
    left: -40px ;
}
div.bottom_right{
    position: absolute;
    bottom: -40px;
    right: -40px;
}
div.box_text{
    width: 50%;
    padding: 10%;
    position: relative;
    z-index: 10;
    margin: 0 auto;
}
div.box_left{
    background-color: aqua;
    width: 50%;
    height: 250px;
    position: absolute;
    top:100px;
    left: 0;
    z-index: -10;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}
div.box_right{
    background-color: crimson;
    width: 50%;
    height: 250px;
    position: absolute;
    top:100px;
    right: 0;
    z-index: -10;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}
/*Fin Ejercicio 4B*/

/*Ejercicio 5*/
div.bloque-fa div{
    display: inline-block;
    font-size: 100px;
    text-align: center;
    
   
}

/*Fin Ejercicio 5*/

/*Ejercicio 6*/
table.table-container{
/*     border-collapse: collapse;
 */}
td, th{
    border: 1px blue solid;
}
table.table-header{
    background-color: aqua;
    border-collapse: collapse;

}


/*Fin Ejercicio 6*/

/*Ejercicio 8*/
div.grupo-bloques div{
    width:150px;
    height:150px;
    margin: 2px;
    display: inline-block;
    background-color:rgb(80, 32, 32);
    position: relative;
    
}
div.grupo-bloques div:hover{
    background-color: green;
}
div.grupo-bloques div.mina:hover{
    background-color: red;
}
i.pos-bomba{
    position: absolute;
    font-size: 135px;
    margin: 10px;
    display: none;
}
div.mina:hover i{
    display: block;
}
/*Fin Ejercicio 8*/


/*Ejercicio 9*/
p.stilish-p::after{
    content: "-T-";    
}
p.stilish-p::first-letter{
    font-size: 3em;
}
p.stilish-p::first-line{
    color: blueviolet;
}
p.stilish-p{
    font-family: 'Germania One', cursive;
}
/*Fin Ejercicio 9s*/

/*Ejercicio 10*/
form.titles label{   
    width: 100px;
    border: 1px blue solid;
    display: inline-block;
}
form.titles input.long{
    background-color: darkgrey;
    width:70%;
}
form.titles input.short{
    background-color: brown;
    width: 30%;
}
div.repos{
    width: 40%;
    display: inline-block;
}
div.menu-formato{
    margin: 15px;
}
select.rounded{
    border-radius: 15px;
    
}
/*Fin Ejercicio 10*


/*Ejercicio bootstrap*/


/*Fin ejercicio bootstrap*/